{% extends 'base.html' %}

{% block head_extra %}

<script src="{{ url_for('static', filename='game_waiting.js') }}"></script>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/results.css') }}">
{% endblock %}


{% block header %}<h1>Final scores</h1>{% endblock %}


{% block content %}


<div class="leaderboard">

    {% for p in server.get_players_ranked() %}
    <div class="row">
        <span> {{ p.get_ranking(server) }}.</span>
        <span> {{ p.name }}</span>
        <span class="score"> {{ p.score }}</span>
    </div>
    {% endfor %}
</div>
<h1>Best Poems</h1>
<div class="leaderboard">
    {% for p in poems %}
    <div class="player-entry">
        <div class="row">
            <span> {{ p.player }}</span>
            <span> Round: {{ p.round }}</span>
            <span class="score"> +{{ p.score }} </span>
        </div>
        <div class="player-poem"><em>"{{ p.content }}"</em></div>
    </div>
    {% endfor %}
</div>


{% endblock %}