{% extends 'base.html' %}

{% block head_extra %}
<script src="{{ url_for('static', filename='game_waiting.js') }}" defer onload="waitForPhase('writing');"></script>
{% endblock %}

{% block header %}<h1>Waiting for players...</h1>{% endblock %}

{% block content %}

<h1>Join: {{ server.code }}</h1>
<ul class="player-list" id="player-list"></ul>




{% if is_vip %}
<p>Press Start game when everyone is ready!</p>
<a href="{{ url_for('api.continue_game') }}">Start game</a>
{% endif %}

{% if not is_vip %}
<p>Waiting for VIP to start game...</p>
{% endif %}

{% endblock %}