{% extends 'base.html' %}

{% block head_extra %}
<script src="{{ url_for('static', filename='pregame_waiting.js') }}" defer onload="waitForPhase('writing', '{{ player.id | default(-1) }}');"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/waiting.css') }}">
{% endblock %}

{% block header %}<h1>Waiting for players...</h1>{% endblock %}

{% block content %}

<h1>Join: {{ server.code }}</h1>
<ul class="player-list" id="player-list"></ul>
<p id="start-hint"></p>
<a id="start-game" style="display:none" href="{{ url_for('api.continue_game') }}">Start game</a>
{% endblock %}
