{% extends 'base.html' %}

{% block head_extra %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/join.css') }}">
{% endblock %}

{% block content %}

<form action="{{ url_for('api.join_game') }}" class="join-form" method="post">
  <label for="code">Room code</label><br>
  <input type="text" id="code" name="code"><br>
  <label for="name">Name</label><br>
  <input type="text" id="name" name="name"><br><br>
  <input type="submit" value="Join room">
</form> 

<a href="/">< Back to main menu</a>

{% endblock %}