{% extends 'base.html' %}

{% block head_extra %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/join.css') }}">
{% endblock %}

{% block header %}<h1>Join</h1>{% endblock %}

{% block content %}


<form action="{{ url_for('api.join_game') }}" class="join-form" method="post">
  <label for="code">Room code</label><br>
  <input type="text" id="code" name="code"
         inputmode="numeric"
         maxlength="4"
         {% if code %}value="{{ code }}"{% endif %}><br>
  <label for="name">Name</label><br>
  <input type="text" id="name" name="name" maxlength="20"><br><br>
  <input type="submit" value="Join room">
</form> 

<a href="/">< Back to main menu</a>

{% endblock %}