{% extends 'base.html' %}

{% block head_extra %}
<script src="{{ url_for('static', filename='voting.js') }}" defer></script>
<!-- <script src="{{ url_for('static', filename='timer.js') }}" defer onload="startTimer('{{ server.phase_end }}')"></script> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/voting.css') }}">

{% endblock %}


{% block header %}<h1>Vote!</h1>{% endblock %}
{% block content %}

<div id="poems-container" class="poems-container"></div>
<div id="submit-button" class="vote-button" onclick="submitVote('{{ player.id }}')">Vote!</div>
{% endblock %}