{% extends 'base.html' %}

{% block head_extra %}
    <script src="{{ url_for('static', filename='poem_builder.js') }}" defer></script>
    <script src="{{ url_for('static', filename='words.js') }}" defer></script>
    <script src="{{ url_for('static', filename='timer.js') }}" defer onload="startTimer('{{ server.phase_end }}')"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/words.css') }}">
{% endblock %}

{% block header %}<h1>Round {{server.round}}: Compose a poem</h1>{% endblock %}

{% block content %}
<div class="workspace">

<div id="poem-container" class="poem-container"></div>

<div id="word-counter">0/10 words</div>

<div id="poem-selector" class="poem-selector">
    {% for word in words %}
    <span class="word" onclick="addWord('{{word}}')">{{ word }}</span>
    {% endfor %}
</div>
<div class="row">
    <span id="clear-button" onclick="clearPoem()">Clear</span>
    <span class="submit" id="submit-button" onclick="submitPoem('{{ player.id }}')">Submit</span>
</div>
</div>
{% endblock %}