


.join-form {
    display: flex;
    flex-direction: column;
    width: 330px;
}

.join-form label {
    text-align: left;
    font-size: 28px;
    margin-top:30px;
}

.join-form input {
    color: black; 
    font-size: 24px;
}

.join-form input[type="submit"] {
    font-size: 28px;
    margin:50px 0px;
    padding:5px;
    background: rgb(46, 47, 49);
    border-radius: 8px;
    outline: 0px;
    color: white;
    opacity:75%;
}

.join-form input[type="submit"]:hover {
    outline: 2px solid white;
    cursor: pointer;
    opacity:100%;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline; 
}