

* {
    box-sizing: border-box;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

body {
    background-color: rgb(16, 16, 24);
    font-family: "Space Mono","Space Mono Fallback";
    color: white;
    text-align: center;
}

h1 {
    font-size: 60px;
    font-family: "Space Mono", monospace;
}

.header-bar {
    background: rgb(24 24 37);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}