.title {
    animation-name: animation;
    animation-duration: 0.25s;
    letter-spacing: 8px;
    margin-top: 75px;
}

@keyframes animation {
    0% {opacity:0%; transform:translateY(75px);}
    75% {opacity:75%; transform:translateY(-20px)}
    100% {opacity:100%; transform:translateY(0px)}
}

a {
    animation-name: a-animation;
    animation-duration:0.25s;
    animation-fill-mode: both;
}

@keyframes a-animation {
    0% {opacity:0%; transform:translateY(75px);}
    75% {opacity:75%; transform:translateY(-20px)}
    100% {opacity:100%; transform:translateY(0px)}
}

.host {
    animation-delay:0.25s;
}

.join {
    animation-delay:0.5s;
}

.htp {
    animation-delay:0.75s;
}

.credits {
    animation-delay:1s;
}
