.player-list {
    margin-right: 3em;
}

.waiting {
    display:flex;
    flex-direction:row;
    margin-left:260px;
}


a {
    font-size: 36px;
    color: gray;
    text-decoration: none;
}

a:hover {
    color: white;
    cursor: pointer;
}

.kickable-player {
    cursor: pointer;
}

.kickable-player:hover {
    color: #f55;
    text-decoration: line-through;
}