<!DOCTYPE html>
<html>
  <head>
    <title>Poem Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    {% block head_extra %}{% endblock %}
  </head>

  <body>
    <div class="header-bar">
      {% if server %}
      <div class="header-join-code"><div>Join:</div><div>{{ server.code }}</div></div>
      {% endif %}
      <div id="timer" class="header-timer"></div>
      {% if player %}
      <div class="header-player">
        <div class="player-name">{{ player.name }}</div>
        <div class="player-score">{{ player.score }}</div>
      </div>
      {% endif %}
    </div>
    <h1>Poem Game</h1>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
          <li>{{ message }}</li>
      {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}


    <div class="content">
      {% block content %}{% endblock %}
    </div>
    {% block body_extra %}
    {% endblock %}
  </body>
</html>