{% extends 'base.html' %}

{% block head_extra %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/credits.css') }}">
{% endblock %}


{% block header %}<h1 class="title">Credits</h1>{% endblock %}

{% block content %}

<p class="popup first">Pointer Rain: API (frontend and backend)</p>

<p class="popup second">Zubat: CSS (and moral support)</p>

<p class="popup third">Based on <a href="https://www.rngdle.com/">RNGdle</a> and inspired by <a href="https://www.jackboxgames.com/games">Jackbox Games</a>.</p>

<a href="/" class="mm popup fourth">< Back to main menu</a>

{% endblock %}