{% extends 'base.html' %}

{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/title.css') }}">
{% endblock %}

{% block header %}
<h1 class="title">RNGwars</h1>{% endblock %}

{% block content %}


<a class="button host" href="{{ url_for('create') }}">Host game</a>
<a class="button join" href="{{ url_for('room_join') }}">Join game</a>
<a class="button htp" href="{{ url_for('how_to_play') }}">How to play</a>
<a class="button credits" href="{{ url_for('credits') }}">Credits</a>


{% endblock %}